*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: aqua;
}

.couteudo-header{
    display: flex;
    justify-content: center;
    background-color: aqua
}

.img-header{
    /* padding: 1rem; 
    display: flex;
    width: 14%;
    justify-content: center; */
}

.header-list{
   display: flex;
   align-items: center;
   justify-content: flex-end;
   width: 80%;
   list-style: none;
   font-size: 20px;

}

.li-title{
    width: 110px;
}

.sobre-header{
   display: flex;
   background-color:  brown;
}

.text-header{
    position: relative;
    width: 399px;
    top: 24px;
    height: 125px;
    left: 30px;
}

.logo-header{
    display: flex;
    justify-content: flex-end;
    width: 45%;
    position: relative;
    left: 51px;
    height: 178px;
}

.fundo-roxo{
    width: 172px;
    height: 144px;
    position: relative;
    top: 24px;
    left: 31px;
}

.linha-amarela{
    width: 174px;
    height: 161px;
    position: relative;
    top: 1px;
    right: 208px;
}

.pedras{
    width: 113px;
    height: 96px;
    position: relative;
    right: 190px;
    top: 48px;
}

.fim-header{
    background: chartreuse;
}

.text-fim{
    display: flex;
}

.main-list{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    padding: 1rem;
    font-size: 35px;
}

main{
    background-color: coral; 
}

.imgs-main{
    display: flex;
    justify-content: center;
}

.list-main{
    
}

.main-imgs{
    width: 500px;
    height: 500px;
    padding: 2rem;
    
    /* imgs main */
}

.veja-mais{
    display: flex;
    justify-content: center;
    font-size: 35px;
}

footer{
    background-color: cyan;

}

.text-footer{
    display: flex;
    justify-content: space-evenly;
    width: 57%;
    align-items: center;
    font-size: 35px;
    position: relative;
    left: 47px;
    padding: 1rem;
}

.paragraph-footer{
    position: relative;
    right: 114px;
}

.paragraph-cop{
    position: relative;
    right: 110px;
    /* paragraph copyright */
}

.paragraph-cont{
    position: relative;
    left: 74px;
    /* paragraph contato */
}

.sub-text{
    display: flex;
    justify-content: space-evenly;
    width: 52%;
    left: 153px;
    position: relative;
    bottom: 6px;
    font-size: 30px;
}

.sub-paragraph{
    position: relative;
    left: 18px;
}

.info-paragraph{
    position: relative;
    left: 65px;
    /* paragraph info@berk */
}

.imgs-footer{
    width: 252px;
    position: relative;
    left: 805px;
    bottom: 91px;
}

.footer-imgs{
    width: 38px;
    height: 33px;
}