*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}

.couteudo-header{
    display: flex;
    justify-content: center;
    
}

.img-header{
    /* padding: 1rem; 
    display: flex;
    width: 14%;
    justify-content: center; */
}

.header-list{
   display: flex;
   align-items: center;
   justify-content: flex-end;
   width: 80%;
   list-style: none;
   font-size: 20px;
   color: #707070;
}

.li-title{
    width: 110px;
}

.li-title:hover{
    color: #000000;
}

.sobre-header{
   display: flex;
   
}

.text-header{
    position: relative;
    width: 487px;
    top: 24px;
    height: 125px;
    left: 50px;
}

.logo-header{
    display: flex;
    justify-content: flex-end;
    width: 45%;
    position: relative;
    left: 51px;
    height: 178px;
}

.fundo-roxo{
    width: 172px;
    height: 144px;
    position: relative;
    top: 24px;
    left: 151px;
}

.linha-amarela{
    width: 174px;
    height: 161px;
    position: relative;
    top: 1px;
    right: 85px;
}

.pedras{
    width: 113px;
    height: 96px;
    position: relative;
    right: 71px;
    top: 48px;
}

/* .fim-header{
    
} */

.text-fim{
    display: flex;
}

.main-list{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    padding: 1rem;
    font-size: 35px;
}

.list-red{
    text-decoration: underline; 
    text-decoration-color: crimson; 
    color: currentcolor;
}

main{
    background: #B4F8F7 0% 0% no-repeat padding-box;
opacity: 1; 
}

.imgs-main{
    display: flex;
    justify-content: center;
}

.list-main{
    
}

.main-imgs{
    width: 448px;
    height: 500px;
    padding: 2rem;
    
    /* imgs main */
}

.veja-mais{
    display: flex;
    justify-content: center;
    font-size: 35px;
    height: 71px;
    align-items: center;
    position: relative;
    bottom: 21px;
    
}

a{
     text-decoration: underline; 
     text-decoration-color: crimson; 
     color: currentcolor; 
     position:relative;
     bottom: 14px;
}

footer{
    background: #F8F3A1 0% 0% no-repeat padding-box;
opacity: 1;

}

.text-footer{
    display: flex;
    justify-content: space-evenly;
    width: 66%;
    align-items: center;
    font-size: 30px;
    position: relative;
    padding: 1rem;
}

.paragraph-footer{
    position: relative;
    left: 38px;
}

.paragraph-cop{
    position: relative;
    right: 31px;
    /* paragraph copyright */
}

.paragraph-cont{
    position: relative;
    left: 38px;
    color: #000000;
    /* paragraph contato */
}

.sub-text{
    display: flex;
    justify-content: space-evenly;
    width: 52%;
    left: 156px;
    position: relative;
    bottom: 6px;
    font-size: 20px;
    padding: 1rem;
}

.sub-paragraph{
    position: relative;
    left: 57px;
    font: normal normal 300 20px/41px Open Sans;
    letter-spacing: 0px;
    text-transform: capitalize;
    opacity: 1;
    bottom: 7px;
}

.info-paragraph{
    position: relative;
    left: 56px;
    /* paragraph info@berk */
}

.imgs-footer{
    width: 282px;
    position: relative;
    left: 743px;
    bottom: 131px;
}

.footer-imgs{
    width: 38px;
    height: 33px;
}

@media(max-width: 768px) {
    .text-header{
        width: 395px;
        height: 125px;
        left: 15px;
    }

    .logo-header{
        width: 43%;
        left: 36px;
    }

    .fundo-roxo{
        width: 135px;
        height: 131px;
    }
    .linha-amarela{
        width: 159px;
        height: 123px;
        top: 23px;
        right: 51px;
    }
    .pedras{
        width: 100px;
        height: 70px;
        right: 45px;
        top: 69px;
    }
    .main-imgs{
        width: 300px;
        height: 300px;
    }
    .text-footer{
        width: 62%;
        font-size: 20px;
    }
    .paragraph-footer{
        left: -6px;
    }
    .paragraph-cop{
        right: 19px;
    }
    .sub-text{
        width: 46%;
        bottom: 22px;
        font-size: 14px;
    }
    .sub-paragraph{
        left: -5px;
        font: normal normal 300 14px/41px Open Sans;
        bottom: 6px;
        right: 10px;
    }
    .info-paragraph{
        left: 5px;
        top: 8px;
    }
    .imgs-footer{
        width: 176px;
        left: 482px;
        bottom: 122px;
    }
    .footer-imgs{
        width: 24px;
        height: 26px;
    }
}
